<div class="container">
  <br><br>
  <p>
    <%= image_tag @profile.picture_url(:profile).to_s, class:"img-circle" %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @profile.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @profile.location %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= @profile.contact %>
  </p>

  <p>
    <strong>Email</strong>
    <%= @profile.user.email %>
  </p>

  <p><%= link_to "Listings by #{@profile.name}", listings_path(user_id: @profile.user.id)%><br></p>
  <% if @profile.user == current_user %>
    <%= link_to 'Edit', edit_profile_path(@profile), class:"btn btn-warning" %>
  <% end %>
</div>