<div class="container">
  <br>
  <p id="notice"><%= notice %></p>

  <p>
    <%= image_tag @profile.picture_url(:profile).to_s, class:"img-circle" %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @profile.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @profile.location %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= @profile.contact %>
  </p>

  <p>
    <strong>Email</strong>
    <%= @profile.user.email %>
  </p>

  <%= link_to 'Back', root_path, class:"btn btn-info" %>
  <%= link_to 'Edit', edit_profile_path(@profile), class:"btn btn-warning" %>
</div>