<div class="container">

  <p id="notice"><%= notice %></p>

  <h1>RazBnB Listings:</h1>

  <table width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Home type</th>
        <th>Room type</th>
        <th>Accommodates</th>
        <th>Address</th>
        <th>City</th>
        <th>User</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @listings.each do |listing| %>
        <tr>
          <td><%= link_to "#{listing.name}", listing %></td>
          <td><%= listing.name %></td>
          <td><%= listing.home_type %></td>
          <td><%= listing.room_type %></td>
          <td><%= listing.accommodates %></td>
          <td><%= listing.address %></td>
          <td><%= listing.city %></td>
          <td>
            <% if listing.user.profile.picture %>
            <%= image_tag listing.user.profile.picture_url(:thumb).to_s %>
            <% end %>
            <%= link_to "#{listing.user.profile.name}", profile_path(listing.user.profile) %>
          </td>
          <% if listing.user == current_user %>
            <td><%= link_to 'Edit', edit_listing_path(listing), class:"btn btn-warning" %></td>
            <td><%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Listing', new_listing_path %>
</div>